body{
    background: rgb(255 244 226);
        font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.container{
    width: 600px;
    margin: auto;
    line-height: 1.7;
}

.profile{
    text-align: center;
    margin-bottom: 40px;
}

.foto-principal {
    border: 2px black;
    margin: 10px 10px 0px;
    padding: 3px;
    box-shadow: 9px 6px 20px #000000bf;   
    width:300px;
}

h1{
    font-family: 'Viaoda Libre', cursive;   
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    margin-top: 10;
    letter-spacing: -1px;
    font-size: 35px;
}

h2{
    margin-top: 0;
    font-style: italic;
    font-weight: 100;
    font-size: large;
    letter-spacing: -1px;
}

h3{
    margin-top: 40px;
    font-style: bold;
    font-size: 20px;
    text-align: center;
}

h4{
    margin-bottom: 5px;
}

h5{
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}

.p{
    line-height: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    width: 600px;
}

.social-links{
    text-decoration: none;
}

.social-icons{
    width: 25px;
    margin-top: 0;
    padding: 0 5px 0 5px;
}

.facebook{
    margin: 0 15px 0 15px;
}

.jobs-list{
    list-style:none;
    padding-left: 20px;
}

.footer{
    margin-top: 40px;
    background-color: rgb(43, 40, 40);
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
}

.texto{
    text-size-adjust:unset;
    text-align: justify;
    margin: 0 0px 0 0px;
  
}

.verso{
    list-style:none;
    text-align: center;
    width: 500px;
    margin: 0 20px 0 20px;
    padding: 0 0 0 0;
}

.separador{
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(224 223 220);
    color: white;
    text-align: center;
    padding: 1px;
}

.email{
    text-decoration: none;
    color: white;
}
.imagem-texto{
    border: 2px black;
    padding: 3px;
    box-shadow: 9px 6px 20px #000000bf;   
    width: 300px;
}